const size_t {{.TAG}}_CONTRACTIONS = {{.Contractions}}; /* Contractions included in switch */
const size_t {{.TAG}}_CODEPOINTS = {{.Codepoints}}; /* Complementary codepoints number */
{{/* new line */}}
