/* When applicable, data referenced by I
 *
 * Normally this is UTF-8 encoded, zero-terminated, concatenated strings,
 * so, having correct offset (stored in I), nu_udb_read() can read them
 * from this memory location.
 */
const uint8_t {{.Tag}}_COMBINED[] = {
	{{- range $i, $v := .COMBINED}}
		{{- /* newline when needed */ -}}
		{{- if call $.Linebreak $i }}
			{{- /* include tab in every newline */ -}}
			{{- printf "\n\t"}}
		{{- end}}
		{{- printf "0x%02X, " $v}}
	{{- end}}
};
{{/* newline */}}
