/* Indices
 *
 * This is data associated with codepoints (encoded in C)
 *
 * It may contain a straightforward mapping to another codepoint
 * or index in COMBINED if it's more compilcated than that. actual use is
 * context-dependent.
 *
 * This array can hold values from 0x0000 to 0xFFFF, therefore it can only
 * index up to 65535 values in COMBINED.
 */
const uint16_t {{.Tag}}_VALUES_I[] = {
	{{- range $i, $v := .I}}
		{{- /* newline when needed */ -}}
		{{- if call $.Linebreak $i }}
			{{- /* include tab in every newline */ -}}
			{{- printf "\n\t"}}
		{{- end}}
		{{- printf "0x%04X, " $v}}
	{{- end}}
};
{{/* newline */}}
