/* indices
 *
 * this is data associated with codepoints (encoded in C)
 *
 * it may contain a straightforward mapping to another codepoint
 * or index in COMBINED if it's more compilcated than that. actual use is
 * context-dependent.
 */
const uint16_t {{.Tag}}_VALUES_I[] = {
	{{- range $i, $v := .I}}
		{{- /* newline when needed */ -}}
		{{- if call $.Linebreak $i }}
			{{- /* include tab in every newline */ -}}
			{{- printf "\n\t"}}
		{{- end}}
		{{- printf "0x%04X, " $v}}
	{{- end}}
};
{{/* newline */}}
