/* codepoints
 *
 * this table is used for collisions detection.
 * if hashed codepoint matches stored codepoint when codepoint was
 * encoded, i.e. it was part of original codepoints set used to build
 * this and related tables. otherwise it's some other codepoint that
 * isn't part of original set.
 *
 * written down as 6-bytes-wide hex (unicode codepoint limit) regardless
 * if actual value is smaller than that, compiler should warn if such value
 * overflows. this shouldn't happen or should only happen if table was
 * generated incorrectly.
 */
const {{if .Compact}}uint16_t{{else}}uint32_t{{end}} {{.Tag}}_VALUES_C[] = {
	{{- range $i, $v := .C}}
		{{- /* newline when needed */ -}}
		{{- if call $.Linebreak $i }}
			{{- /* include tab in every newline */ -}}
			{{- printf "\n\t"}}
		{{- end}}
		{{- printf "0x%06X, " $v}}
	{{- end}}
};
{{/* newline */}}
